.DS_Store
build/*
mesh.mphtxt
Potential.txt
.vscode/
figures
timekeeping.txt
originals
ppp/size_no_sc_combined.txt
ppp/size_sc_combined.txt
ppp/plots/*
nogrid/frames/*
nogrid/frames.tar.gz
elliptic/
singlering/
nogrid/*.txt
!nogrid/size_sc_combined.txt
!nogrid/size_no_sc_combined.txt

