.DS_Store
build/*
mesh.mphtxt
Potential.txt
.vscode/
figures
timekeeping.txt
originals
ppp/size_no_sc_combined.txt
ppp/size_sc_combined.txt
ppp/plots/*
nogrid/frames/*
nogrid/frames.tar.gz
elliptic/
singlering/
nogrid/*.txt
!nogrid/size_sc_combined.txt
!nogrid/size_no_sc_combined.txt
axisscan-grid/comparison/*
axisscan-grid/build/*
timestep_scan/*
axisscan/
nogrid/batch.sub
nogrid/file_combiner.py
nogrid/generate_args.py
nogrid/image_combiner.py
nogrid/permutation_test.py
nogrid/run.sh
nogrid/time_analysis.ipynb
